body {

    background-color: black;
    
}

#theTitle {
    font-size:68px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.turtle {
    background-color: white;
}

.message {
    font-family: 'Neucha', cursive;
    font-size: 20px;
}

.heroes {

    background-color: #999999;
    border: none;
    color: #a50000;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.theTile {
    display: inline-block;    
    margin: 10px;
}